/* Write your code here. */
.list-item {
  list-style-type: none;
  border-style: solid;
  border-width: 1px;
  border-color: #e4e7eb;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.question-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question {
  color: #52606d;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: bold;
  margin-right: 20px;
}

.btn {
  background-color: transparent;
  border: 0px;
  cursor: pointer;
}

.line {
  border-width: 1px;
  border-style: solid;
  border-color: #e4e7eb;
}

.answer {
  color: #9aa5b1;
  font-family: 'Roboto';
  font-size: 12px;
}
